/* HOVER DO MENU DE NAVEGAÇÃO */
.listaMenu .botoesDoMenu::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #76AF28;
    margin: auto;
    display: block;
    /* margin-top: 8px; */
}

.listaMenu .botoesDoMenu:hover::after {
    width: 100%;
    transition: width 0.3s linear;
}

.listaMenu .botoesDoMenu:hover {
    /* color: #024959; */
    /* color: #84BF2C; */
    /* color: #73A626; */
    color: #76AF28;
    cursor: pointer;
}

/* EFEITO DE DIGITAÇÃO DO HOME */
.tituloHome::after {
    content: "|";
    animation: piscar 0.6s infinite;
}

@keyframes piscar {
    0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}