@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:wght@400;700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');

:root {
    font-size: 62.5%;
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Lato', sans-serif;
}

body {
    /* background-color: #bcbcbc; */
    /* background-color: #8080803b; */
    background: url(/assets/imagens/Design\ sem\ nome\ \(2\).png) no-repeat top center/cover;
    /* background: linear-gradient(120deg, #76A360 1%, #253a80 20%, #76A360 99%); */
    /* background: linear-gradient(45deg, #265C8B 9%, #fff 1%); */
    /* background-size: cover; */
    /* background: linear-gradient(310deg, #436154 0%, rgba(60,81,146,1) 100%); */
    background-color: #F9FBFC;
    /* color: e9edf0; */
    height: 100vh;
    background: radial-gradient(circle, rgba(67,97,84,1) 25%, rgba(60,81,146,1) 100%);
}
    
.barraDeNavegacao {
    /* background-color: #18253f; */
    /* background-color: #0D121C; */
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #8080803b;
    padding: 0.4rem 8rem 0.4rem 8rem;
    /* background: linear-gradient(90deg, #ffffff, #03445E 0%, #ffffff) */
}

.logoComTexto {
    width: 26rem;
    /* border: 1px solid red; */
    padding: 1rem;
}

.menu {
    /* border: 1px solid red; */
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #cacaca;
}

.listaMenu {
    margin-right: 3rem;
    display: flex;
}

.botoesDoMenu {
    /* border: 1px solid red; */
    padding: 0.4rem;
    align-items: center;
}

.container {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 9rem;
    margin: 3rem auto;
    padding: 10rem 5rem 10rem 5rem;
    /* background-color: #c8c8c8; */
}

.ilustracaoHome {
    /* border: 1px solid red; */
    /* width: 700px; */
    /* margin: 60px; */
}
.chamadaHome {
    /* border: 1px solid red;    */
    /* margin: 60px; */
}

.tituloHome {
    /* border: 1px solid red; */
    margin-bottom: 6rem;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #cacaca;
}

.textoHome {
    /* border: 1px solid red; */
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #cacaca;
    line-height: 2.4rem;
    text-align: justify;
}

.iconsLinguagensHome {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.iconsLinguagensHome > img  {
    /* border: 1px solid red; */
}

.rodape {
    /* border: 1px solid red; */
    padding: 2rem;
    /* background-color: #9FB9BF; */
    /* color: #f2f2f2f2; */
    color: #cacaca;
    border: 0.1rem solid #8080803b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
}

.linkLinkedIn:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* PÃGINA CRIADOR */
.botaoVoltar {
    border: 1px solid red;
    margin: 1rem 5rem;
}
.voltar {
    border: 1px solid red;
    margin-right: 125rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-family: 'Lato', sans-serif;
    color: #cacaca;
    font-size: 1.6rem;
}

.iconVoltar {
    width: 3rem;
    height: 3rem;
    color: #cacaca;
}

a.voltar:hover {
    color: #76AF28;
}

.fa-sharp {
    font-size: 2.6rem;
}

.botaoVoltar:hover {
    color: #76AF28;
}

.containerCriador {
    /* border: 1px solid red; */
    margin: 9rem 8rem;
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
    background-color: #cacaca;
    border-radius: 1.6rem;
    box-shadow: 0.3rem 0.3rem 0.5rem #0000004d;
}

.containerCriador > img {
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
}

.descricaoCriador {
    /* border: 1px solid red; */
    padding: 4rem;   
}

.NomeCriador {
    /* border: 1px solid red; */
    margin-bottom: 2rem;
    font-family: var(--fonte-primaria);
    font-size: 2.4rem;
    font-weight: 500;
    color: #03445E;
}

.paragrafoCriador {
    /* border: 1px solid red; */
    font-family: var(--fonte-secundaria);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: justify;
    line-height: 2.4rem;
}

.paragrafoCriador > strong {
    color: #03445E;
    font-weight: 700;
}

.redesSociais {
    /* border: 1px solid red; */
    margin-top: 4rem;
    text-align: center;
}

.textoRedesSociais {
    /* border: 1px solid red; */
    margin-bottom: 1rem;
    font-family: var(--fonte-primaria);
    font-size: 2.2rem;
    color: #03445E;
    font-weight: 500;
}

.listaRedesSociais {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.iconRedesSociais {
    width: 2.8rem;
    height: 2.8rem;
    transition: 0.2s ease-in-out;
}

.iconRedesSociais:hover {
    transform: scale(1.2);
    color: #76AF28;
}