@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:wght@400;700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');

:root {
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Lato', sans-serif;
}

body {
    /* background-color: #bcbcbc; */
    /* background-color: #8080803b; */
    background: url(/assets/imagens/Design\ sem\ nome\ \(2\).png) no-repeat top center/cover;
    /* background: linear-gradient(120deg, #76A360 1%, #253a80 20%, #76A360 99%); */
    /* background: linear-gradient(45deg, #265C8B 9%, #fff 1%); */
    /* background-size: cover; */
    /* background: linear-gradient(310deg, #436154 0%, rgba(60,81,146,1) 100%); */
    background-color: #F9FBFC;
    /* color: e9edf0; */
    height: 100vh;
    background: radial-gradient(circle, rgba(67,97,84,1) 25%, rgba(60,81,146,1) 100%);
}
    
.barraDeNavegacao {
    /* background-color: #18253f; */
    /* background-color: #0D121C; */
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8080803b;
    padding: 4px 80px 4px 80px;
    /* background: linear-gradient(90deg, #ffffff, #03445E 0%, #ffffff) */
}

.logoComTexto {
    width: 260px;
    /* border: 1px solid red; */
    padding: 10px;
}

.menu {
    /* border: 1px solid red; */
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #cacaca;
}

.listaMenu {
    margin-right: 30px;
    display: flex;
}

.botoesDoMenu {
    /* border: 1px solid red; */
    padding: 4px;
    align-items: center;
}

.container {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 90px;
    /* margin: 30px auto; */
    padding: 10rem 5rem 10rem 5rem;
    /* background-color: #c8c8c8; */
}

.ilustracaoHome {
    /* border: 1px solid red; */
    /* width: 700px; */
    /* margin: 60px; */
}
.chamadaHome {
    /* border: 1px solid red;    */
    /* margin: 60px; */
}

.tituloHome {
    /* border: 1px solid red; */
    margin-bottom: 60px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #cacaca;
}

.textoHome {
    /* border: 1px solid red; */
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #cacaca;
    line-height: 24px;
    text-align: justify;
}

.iconsLinguagensHome {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.iconsLinguagensHome > img  {
    /* border: 1px solid red; */
}

.rodape {
    /* border: 1px solid red; */
    padding: 20px;
    /* background-color: #9FB9BF; */
    /* color: #f2f2f2f2; */
    color: #cacaca;
    border: 1px solid #8080803b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.linkLinkedIn:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* PÃGINA CRIADOR */
.botaoVoltar {
    border: 1px solid red;
    margin: 1rem 5rem;
}
.voltar {
    border: 1px solid red;
    margin-right: 1250px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: 'Lato', sans-serif;
    color: #cacaca;
}

.iconVoltar {
    width: 30px;
    height: 30px;
    color: #cacaca;
}

a.voltar:hover {
    color: #76AF28;
}

.botaoVoltar:hover {
    color: #76AF28;
}

.containerCriador {
    /* border: 1px solid red; */
    margin: 90px 80px;
    padding: 40px 80px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    background-color: #cacaca;
    border-radius: 16px;
    box-shadow: 3px 3px 5px #0000004d;
}

.containerCriador > img {
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.descricaoCriador {
    /* border: 1px solid red; */
    padding: 40px;   
}

.NomeCriador {
    /* border: 1px solid red; */
    margin-bottom: 20px;
    font-family: var(--fonte-primaria);
    font-size: 24px;
    font-weight: 500;
    color: #03445E;
}

.paragrafoCriador {
    /* border: 1px solid red; */
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    line-height: 24px;
}

.paragrafoCriador > strong {
    color: #03445E;
    font-weight: 700;
}

.redesSociais {
    border: 1px solid red;
    margin-top: 40px;
    text-align: center;
}

.textoRedesSociais {
    /* border: 1px solid red; */
    margin-bottom: 10px;
    font-family: var(--fonte-primaria);
    font-size: 18px;
}

.listaRedesSociais {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.iconRedesSociais {
    width: 32px;
    height: 32px;
}

.iconRedesSociais:hover {
    width: 36px;
    height: 36px;
}