@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:wght@400;700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');

.barraDeNavegacao {
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #0D0D0D;
    padding: 4px 80px 4px 80px;
}

.logoComTexto {
    width: 260px;
    /* border: 1px solid red; */
    padding: 10px;
}

.menu {
    /* border: 1px solid red; */
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #03445E;
}

.listaMenu {
    margin-right: 30px;
    display: flex;
}

.botoesDoMenu {
    /* border: 1px solid red; */
    padding: 4px;
    align-items: center;
}

.container {
    border: 1px solid red;
    display: flex;
    align-items: center;
    gap: 90px;
    /* margin: 30px auto; */
    padding: 80px;
    /* background-color: #c8c8c8; */
}

.ilustracaoHome {
    border: 1px solid red;
    /* width: 700px; */
    /* margin: 60px; */
}
.chamadaHome {
    border: 1px solid red;   
    /* margin: 60px; */
}

.tituloHome {
    border: 1px solid red;
    margin-bottom: 60px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #023244;
}

.textoHome {
    border: 1px solid red;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #03445E;
}

.iconsLinguagensHome {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsLinguagensHome {
    display: flex;
    gap: 20px;
}

.iconsLinguagensHome > img  {
    border: 1px solid red;
}